body,html{
    height: 100%;
	background-color: #DCDCDC;
  }

#navbar-wrapper{
	z-index: 1;
	position: absolute;
	width: 250px;
	height: 100%;
	overflow-y: hidden;
	opacity: 0.9;	
	margin-top: 2px;
}

#page-content-wrapper{
	padding-left: 290px;	
	padding-top: 20px;
	width: 85%;
	border-color: red;
	border-width: 100px;
	height: 100%;
	padding-bottom: 200px;
}

.navbar-nav{
	padding: 0;
	list-style: none;	
	padding-top: 35px;
	height: 100%;
	background-color: black;
}

.navbar-nav li{
	text-indent: 20px;
	line-height: 40px;	
}

.navbar-nav li a{
	display: block;
	text-decoration: none;
	color: #ddd;
	width: 240px;
}

.navbar-nav li a:hover,
.navbar-nav li a:active,
.navbar-nav li a:active:hover
{
	background: #ddd;
	color: black;
}


